### Exercise: Week 11 & 12

#### DSC 540

Taniya Adhikari 03/06/2020

### 1. Data Wrangling with Python: Activity 11, page 320

Connect to petsDB and check whether the connection has been successful.

In [23]:
import sqlite3

In [24]:
conn = sqlite3.connect("petsdb")

In [25]:
def is_opened(conn):  # checks connection to the pets database
    try: 
        conn.execute("SELECT * FROM persons LIMIT 1") 
        return True 
    except sqlite3.ProgrammingError as e: 
        print("Connection closed {}".format(e)) 
        return False

In [26]:
print(is_opened(conn))

True

In [27]:
conn.close()

Find the different age groups in the persons database.

In [28]:
conn = sqlite3.connect("petsdb") 
c = conn.cursor()

In [29]:
c.execute('''SELECT * FROM persons''').fetchall()

[(1, 'Erica', None, 22, 'south port', 2345678),
 (2, 'Jordi', None, 73, 'east port', 123456),
 (3, 'Chasity', None, 70, 'new port', 76856785),
 (4, 'Gregg', None, 31, 'new port', 76856785),
 (5, 'Tony', 'Lindgren', 7, 'west port', 2345678),
 (6, 'Cary', None, 73, 'new port', 76856785),
 (7, 'Gabe', 'Thompson', 54, 'new port', 9756543),
 (8, 'Francisca', None, 14, 'west port', 123456),
 (9, 'Katelyn', 'Torphy', 49, 'east port', 9756543),
 (10, 'Raleigh', None, 68, 'new port', 2345678),
 (11, 'Maria', None, 42, 'west port', 123456),
 (12, 'Mariane', None, 62, 'south port', 9756543),
 (13, 'Mona', None, 44, 'south port', 76856785),
 (14, 'Kayla', None, 36, 'south port', 2345678),
 (15, 'Karlie', None, 35, 'west port', 123456),
 (16, 'Morris', None, 71, 'west port', 76856785),
 (17, 'Sandy', None, 23, 'east port', 2345678),
 (18, 'Hector', None, 63, 'east port', 9756543),
 (19, 'Hiram', None, 52, 'west port', 2345678),
 (20, 'Tressa', None, 59, 'new port', 123456),
 (21, 'Berry', None, 22, 'south port', 2345678),
 (22, 'Pearline', None, 73, 'new port', 9756543),
 (23, 'Maynard', None, 25, 'east port', 123456),
 (24, 'Dorian', None, 40, 'east port', 123456),
 (25, 'Mylene', None, 5, 'east port', 76856785),
 (26, 'Lafayette', None, 34, 'new port', 2345678),
 (27, 'Friedrich', 'Wunsch', 48, 'east port', 9756543),
 (28, 'Domenica', 'Lakin', 13, 'west port', 76856785),
 (29, 'Tara', None, 39, 'west port', 123456),
 (30, 'Destiny', None, 18, 'south port', 2345678),
 (31, 'Lesly', None, 31, 'west port', 123456),
 (32, 'Perry', None, 19, 'south port', 76856785),
 (33, 'Keyon', 'Upton', 51, 'south port', 123456),
 (34, 'Jacquelyn', 'Bradtke', 54, 'south port', 123456),
 (35, 'Maritza', None, 73, 'east port', 9756543),
 (36, 'Ivory', 'Sawayn', 8, 'south port', 76856785),
 (37, 'Grant', None, 61, 'east port', 76856785),
 (38, 'Salma', 'Terry', 71, 'west port', 123456),
 (39, 'Laury', None, 17, 'east port', 9756543),
 (40, 'Name', None, 52, 'east port', 9756543),
 (41, 'Estefania', None, 32, 'new port', 76856785),
 (42, 'Destiney', None, 65, 'west port', 2345678),
 (43, 'Jaquelin', None, 73, 'west port', 9756543),
 (44, 'Brenda', 'Murray', 62, 'south port', 2345678),
 (45, 'Alfonzo', None, 16, 'east port', 2345678),
 (46, 'Lisandro', None, 11, 'new port', 76856785),
 (47, 'Lurline', 'Becker', 24, 'west port', 76856785),
 (48, 'Timmothy', 'Tillman', 12, 'new port', 76856785),
 (49, 'Priscilla', None, 65, 'east port', 76856785),
 (50, 'Elenora', None, 11, 'new port', 76856785),
 (51, 'Wendell', 'Sauer', 39, 'south port', 76856785),
 (52, 'Rudolph', None, 14, 'east port', 76856785),
 (53, 'Gabriella', 'Kertzmann', 30, 'south port', 76856785),
 (54, 'Citlalli', 'Pollich', 18, 'west port', 2345678),
 (55, 'Dax', 'Romaguera', 23, 'west port', 123456),
 (56, 'Ona', None, 35, 'east port', 9756543),
 (57, 'Rebeca', None, 50, 'new port', 76856785),
 (58, 'Lou', 'Bradtke', 71, 'south port', 2345678),
 (59, 'Sigurd', None, 12, 'west port', 76856785),
 (60, 'Nicklaus', 'Purdy', 72, 'new port', 2345678),
 (61, 'Destiney', 'Sauer', 24, 'west port', 2345678),
 (62, 'Cassidy', 'Crona', 18, 'east port', 123456),
 (63, 'Alice', None, 8, 'west port', 76856785),
 (64, 'Dane', None, 24, 'west port', 9756543),
 (65, 'Judge', None, 17, 'south port', 76856785),
 (66, 'Allene', None, 9, 'new port', 9756543),
 (67, 'Jalen', None, 33, 'new port', 2345678),
 (68, 'Aniyah', 'Grant', 27, 'new port', 9756543),
 (69, 'Ashton', 'Schaden', 25, 'west port', 2345678),
 (70, 'Myron', None, 36, 'new port', 9756543),
 (71, 'Presley', 'Gleason', 58, 'new port', 9756543),
 (72, 'Ephraim', 'Kihn', 67, 'south port', 123456),
 (73, 'Travon', None, 16, 'south port', 2345678),
 (74, 'Shayna', None, 60, 'new port', 2345678),
 (75, 'Myah', None, 14, 'east port', 2345678),
 (76, 'Sammy', 'Franecki', 53, 'south port', 76856785),
 (77, 'Ebba', 'Kihn', 34, 'west port', 2345678),
 (78, 'Leilani', 'Gislason', 53, 'south port', 123456),
 (79, 'Isabel', 'Beier', 74, 'west port', 2345678),
 (80, 'Jo', 'DuBuque', 68, 'west port', 76856785),
 (81, 'Angel', 'Mraz', 37, 'west port', 123456),
 (82, 'Letha', None, 44, 'new port', 9756543),
 (83, 'Lily', 'Hegmann', 12, 'east port', 123456),
 (84, 'Felton', None, 74, 'east port', 2345678),
 (85, 'London', None, 66, 'east port', 9756543),
 (86, 'Koby', None, 31, 'west port', 9756543),
 (87, 'Golden', None, 35, 'east port', 76856785),
 (88, 'Elfrieda', 'Nikolaus', 36, 'west port', 2345678),
 (89, 'Anissa', None, 8, 'south port', 76856785),
 (90, 'Mathew', 'Luettgen', 71, 'east port', 2345678),
 (91, 'Sid', None, 22, 'west port', 123456),
 (92, 'Micheal', 'Schuppe', 6, 'west port', 9756543),
 (93, 'Joanie', 'Cassin', 68, 'new port', 76856785),
 (94, 'Jerad', 'Pfeffer', 74, 'west port', 123456),
 (95, 'Benjamin', 'Lowe', 51, 'south port', 9756543),
 (96, 'Ernesto', None, 69, 'east port', 9756543),
 (97, 'Josianne', None, 14, 'west port', 76856785),
 (98, 'Hilma', 'Waelchi', 48, 'east port', 9756543),
 (99, 'Otilia', 'Gleason', 66, 'new port', 9756543),
 (100, 'Adrian', 'Schinner', 5, 'south port', 76856785)]

In [30]:
# groups by age and counts number of people in each age group
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

Find the age group that has the maximum number of people.

In [31]:
# groups by age and sort order in descending order.
for ppl, age in c.execute( "SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"): 
    print("Maximum number of people in age group {} is {}".format(age, ppl)) 
    break  # breaks the loop after highest number

Maximum number of people in age group 73 is 5

Find the people who do not have a last name.

In [32]:
result = c.execute("SELECT count(*) FROM persons WHERE last_name IS null") # only fetch the null values for Last names
for row in result: 
    print("Number of people who do not have last name is {}".format(row))

Number of people who do not have last name is (60,)

Find out how many people have more than one pet.

In [33]:
result = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in result: 
    print("{} People has more than one pets".format(row[0]))

43 People has more than one pets

Find out how many pets have received treatment.

In [34]:
result = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1") 
for row in result: 
    print(row)

(36,)

Find out how many pets have received treatment and the type of pet is known.

In [35]:
result = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null") 
for row in result: 
    print(row)

(16,)

Find out how many pets are from the city called east port.

In [36]:
result = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'") 
for row in result:
    print(row)

(49,)

Find out how many pets are from the city called east port and who received a treatment.

In [37]:
result = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1") 
for row in result:
    print(row)

(11,)